#objectLinks
{
    clear:both;
}

#objectLinks ul.links
{
    clear:both;
    list-style-type:circle;
    margin:0.2em 10px 0 10px;
    padding:0 0 0 16px;
}
#objectLinks ul.links li
{
    margin:0.2em 0 0 0;
}

#objectLinks .quickLinks a
{
    display:inline;
    padding:0 0.2em;
}


#objectLinks h3
{
	display:inline;
	font-size:100%;
	font-weight:bold;
}

#objectLinks h2
{
    margin: 0.5em 10px 0.25em 0.25em;
}

#objectLinks form
{
    margin: 10px 0;
}

#objectLinks form input[name="target"]
{
    width:25%;
}

#objectLinks form input[name="comment"]
{
    width:25%;
}

#objectLinks .comment
{
    font-style:italic;
}

#objectLinks a.delete
{
    text-decoration:none;
    border:none;
    font-weight:bold;
}

.ticket #attachments
{
    clear:both;
}

#objectLinks div
{
	margin-left:10px;
}