<div xmlns="http://www.w3.org/1999/xhtml" id="objectLinks" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <h2><a name="ticket-links">Links</a></h2>
    <ul class="links">
        <li py:for="link in objectlinks.forth_links">
            ${link_types[link.type]['forth_label']}
            <a href="${href(link.target_type,link.target_id)}">
                $link.target_type:$link.target_id
                <span py:if="link.target_title" class="linkTitle"> $link.target_title </span>
            </a>
            <span py:if="link.comment" class="comment"> &mdash; $link.comment</span>
            <a href="${href.link('delete',return_url=return_url,target=link['target_type'] + ':' + str(link['target_id']),type=link.type,source=link['source_type'] + ':' + str(link['source_id']) )}" title="Delete this link" class="delete">&times;</a>
        </li>
        <li py:for="link in objectlinks.back_links">
            ${link_types[link.type]['back_label']}
            <a href="${href(link.source_type,link.source_id)}">
                $link.source_type:$link.source_id <span py:if="link.source_title" class="linkTitle"> $link.source_title </span>
            </a>
            <span py:if="link.comment" class="comment"> &mdash; $link.comment</span>
            <a href="${href.link('delete',return_url=return_url,target=link['target_type'] + ':' + str(link['target_id']),type=link.type,source=link['source_type'] + ':' + str(link['source_id']) )}" title="Delete this link" class="delete">&times;</a>
        </li>
    </ul>

    <div class="quickLinks">
        <p>
	    	<h3>Quick links:</h3>
            <a href="${href.newticket(type='defect', component=ticket.component, linkinfo=&quot;ticket:&quot; + str(ticket.id) + &quot;:relates&quot;)}">report a bug</a>,
            <a href="${href.newticket(type='enhancement', component=ticket.component, linkinfo=&quot;ticket:&quot; + str(ticket.id) + &quot;:relates&quot;)}">suggest an enhancement</a>,
        or add subtask in
        <a py:for="component in components" value="$component" href="${href.newticket(type='task', summary=component + ' for ' + ticket.summary + ' (#' + str(ticket.id) + ')', component=component, linkinfo=&quot;ticket:&quot; + str(ticket.id) + &quot;:parent&quot;)}">$component,</a>.
        </p>
    </div>

    <form id="link_ticket" action="${href.link()}/create">
    	<div class="form">
	        <input type="hidden" name="source" value="ticket:$ticket.id" />
	        <input type="hidden" name="return_url" value="$return_url" />
	        <h3>Add link:</h3> this ticket 
	        <select name="type">
	           <option py:for="lt in link_types" value="$lt">${link_types[lt]['forth_label']}</option>
	        </select>
			<input id="linkTarget" type="text" name="target" value="" />, comment<input type="text" name="comment" value="" />
			<input type="submit" value="Add Link"/>
		</div>
    </form>

    <script type="text/javascript">
    base_url = "${href.link('search')}";
    </script>

</div>
