<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html"/>
<xi:include href="macros.html"/>
<head>
  <title>Links  ${project.ID}</title>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $("#content").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
    });
  </script>
</head>

<body>

<h1>Links</h1>

Creating link:
<ul>
    <li>source_type:$source_type</li>
    <li>source_id:$source_id</li>
    <li>target_type:$target_type</li>
    <li>target_id:$target_id</li>
    <li>type:$type</li>
</ul>
</body>
</html>